header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100vw;

    gap: 32px;
}

header .logo-container {
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
}

header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    max-width: 80%;
    margin: 0 auto;
    gap: 24px;
}
header .text-container h1 {
    font-size: 34px;
    color: var(--dark-grey);
}

header .text-container p {
    color: var(--light-grey);
}

header .text-container .heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 24px;
    gap: 14px;
}

header .text-container .heading .heading-border{
    height: 12px;
    width: 40%;
    background-color: var(--dark-grey);
}   