.form-section {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        max-width: 80%;
        width: 100%;

        padding: 24px;
        margin: 0 auto;

        border: 2px solid var(--light-text);
        border-radius: 16px;
    }

    .form-icon {
        font-size: 14px;
        color: var(--light-grey);
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
    }

    h3 {
        font-size: 24px;
        color: var(--medium-text);
        font-weight: 300;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .box-radio {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 8px 4px;
        gap: 12px;

        border-top: 1px solid var(--light-text);
        position: relative;
        color: var(--medium-text);

        span {
            position: absolute;
            right: 0px;
        }

        &:nth-last-child(2) {
            border-bottom: 1px solid var(--light-text);
            margin-bottom: 32px;
        }
    }

    .box-checkbox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        margin: 24px 0;

        .checkbox{
            padding: 8px 4px;
            display: flex;

            gap: 12px;
        }
    }

    .form-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 12px;
        width: 100%;        

        button {
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            padding: 12px 40px;
            background-color: white;
            border-radius: 8px;
        }

        .btn-yellow {
            border: none;
            background-color: var(--yellow);
        }
        .btn-white {
            border: 2px solid var(--light-text);
        }
        
        
    }
}

@media (min-width: 768px) {
    .form-section{
        .form-btn {
            flex-direction: row;
            width: 80%;
            margin: 0 auto;

            button {
                width: 40%;
            }
        }

        .box-checkbox {
            flex-direction: row;
            justify-content: space-between;
        }

    }

}